<div class="contactsPage">

  <div class="contactsPage__top">
    <div class="contactsPage__topLeft">
      <div class="row"><div class="col">Email:</div><div class="col">soft.edme@gmail.com</div></div>
      <div class="row"><div class="col">{{"contacts.phone" | translate}}:</div><div class="col"><div class="nestRow">+38 (066) 660-24-04</div><div class="nestRow">+38 (068) 162-83-50</div></div></div>
    </div>
<div class="contactsPage__topRight">
<!--    <img src="../../assets/icons/email.svg" alt="facebook" class="contactsPage__icon"/>-->
<!--    <img src="../../assets/icons/phone.svg" alt="facebook" class="contactsPage__icon"/>-->
    <img src="../../assets/icons/telegram.svg" alt="facebook" class="contactsPage__icon" />
    <img src="../../assets/icons/facebook.svg" alt="facebook" class="contactsPage__icon"/>
    <img src="../../assets/icons/instagram.svg" alt="facebook" class="contactsPage__icon"/>
  </div>
  </div>

<!--  <div class="contactsPage__bottom">-->
<!--    Copyright 2019-->
<!--  </div>-->

</div>
